<h1>Boleta de Compra</h1>

<p><strong>ID Compra:</strong> {{ compra.id }}</p>
<p><strong>Fecha:</strong> {{ compra.fecha|date:"d/m/Y H:i" }}</p>

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in detalles %}
        <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio_unitario }}</td>
            <td>${{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if request.session.requiere_envio %}
    <p><strong>Dirección de envío:</strong> {{ request.session.direccion_envio }}</p>

    <table>
        <tr>
            <td class="totales"><strong>Subtotal productos:</strong></td>
            <td class="totales">${{ subtotal_sin_envio }}</td>
        </tr>
        <tr>
            <td class="totales"><strong>Costo de envío:</strong></td>
            <td class="totales">${{ costo_envio }}</td>
        </tr>
        <tr>
            <td class="totales"><strong>Total pagado:</strong></td>
            <td class="totales">${{ compra.total }}</td>
        </tr>
    </table>
{% else %}
    <h3 class="total-final">Total pagado: ${{ compra.total }}</h3>
{% endif %}


